---
---

$blak: #001524; // Deep Midnight Blue;
$prim: #A5E6BA; // Soft Mint Green;
$midd: #9AC6C5; // Tranquil Seafoam;
$turq: #7785AC; // Dusky Periwinkle;
$seco: #5B2A86; // Dark Royal Purple;
$purp: #360568; // Mysterious Indigo;

$bl-ack: #1c1c1c;
$bg-blu: #0b3d91;
$bg-prp: #4b0082;
$se-blu: #3c6997;
$se-prp: #9370db;
$ac-yel: #ffcc00;
$ac-amb: #ffbf00;
$a2-grn: #66ff66;
$a2-tel: #30d5c8;
$tx-wyt: #f5f5f5;
$tx-gry: #d3d3d3;

/*
    Background color (Close to black, not a shade of grey): #140C00 (very dark reddish-brown)
    Text color (Close to white, not a shade of white): #FFE9C9 (very pale yellow)
    Link color: #FFAA00 (vibrant yellow-orange)
    Secondary color: #8B3E2F (dark red-brown)
    Accent color: #FFD700 (gold)
    Lighter, duller link color: #FFC266 (lighter, duller yellow-orange)
    Lighter, duller secondary color: #AD6B58 (lighter, duller red-brown)
    Lighter, duller accent color: #FFDE94 (lighter, duller gold)

    #160E02 (slightly lighter dark reddish-brown)
    #1A1004 (dark reddish-brown)
    #1E1206 (less dark reddish-brown)
    #221408 (reddish-brown with a bit more brightness)
    #26160A (lighter reddish-brown with increased visibility)
*/

$bgc: #140c00;
$bg1: #160E02;
$bg2: #1A1004;
$bg3: #1E1206;
$bg4: #221408;
$bg5: #26160A;

$txc: #ffe9c9;
$lnk: #ffaa00;
$lnkdul: #ffc266;
$sec: #8b3e2f;
$secdul: #ad6b58;
$acc: #ffd700;
$accdul: #ffde94;


html {
    margin: 1em;
    color: #ffe9c9;
    background-color: #140c00;
    max-width: 100%;
    font-family: 'IM Fell English', 'Times New Roman', Times, serif;
    
    .ipa {
        font-family: 'Times New Roman', Times, serif !important;
    }

    .spoken {
        // white-space: nowrap;

        .speak {
            padding: 0;
            background: none;
            border: none;
            margin: 0 8px 0 0;
            cursor: pointer;

            &:disabled {
                opacity: 0.5;
            }
        }
    }

    .audio {
        display: none;
    }

    nav {
        display: flex;

        a {
            padding: 0.5em 1em;
            text-decoration: none;
            color: $lnk;

            &.active {
                background: $bg5;
                color: $txc;

                &:visited {
                    color: $txc !important;
                }
            }

            &:not(.active) {
                &:hover{
                    background: $bg4;
                    color: $lnkdul;
                }
            }
        }
    }

    .big {
        font-size: x-large;
    }

    .bold {
        font-weight: bold;
    }

    // .notices {
    //     text-align:center;
    //     background: $prim;
    //     padding:1em;
    // }

    a {
        color: $lnk;
    }
   
    strong {
        font-weight: 400;
        color: $acc;
    }

    em {
        // color: $purp;
    }

    img {  
        max-width: 75%;
        max-height: 80vh;
        margin: auto;
    }

    table {
        margin: 1em;
        border-collapse: collapse;

        tr:nth-child(even) {
            background-color: $bg5;
        }
       
        th {
            background-color: $bg4;
        }

        td, th {
            padding: 8px;
        }
    }

    code {
        color: $accdul;
        background: $bg5;
        padding: 0 2px;
        border-radius: 5px;
        font-family: 'Inconsolata', monospace;
        white-space: pre-wrap;
    }

    hr {
        width: 50%;
        margin-left: 7em;
        background-image: linear-gradient(90deg,transparent,$acc,transparent);
        border: 0;
        height: 2px;
    }

    .content {
        margin-left: 3em;

        h1, h2, h3, h4, h5, h6 {
            // border: 2px solid;
            // border-image: linear-gradient(90deg, $turq, transparent, transparent) 1;
            // border-top: none;
            margin: 0;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 1em;
            color: $lnkdul;
        }

        h2 {
            margin-left: -1em;
            color: $accdul;
            // & ~ p, & ~ div, & ~ pre, & ~ code {
            //     margin-left: 20px; 
            // }
        }

        h3 {
            margin-left: -0.5em;
            color: $secdul;
            // margin-left: 20px;
            // & ~ p, & ~ div, & ~ pre, & ~ code {
            //     margin-left: 40px; 
            // }
        }

        h4 {
            margin-left: -0.25em;
            color: $secdul;
            // margin-left: 40px;
            // & ~ p, & ~ div, & ~ pre, & ~ code {
            //     margin-left: 60px; 
            // }
        }

        h5 {
            margin-left: -0.125em;
            // & ~ p, & ~ div, & ~ pre, & ~ code {
            //     margin-left: 80px; 
            // }
        }

        h6 {
            // margin-left: 80px;
            // & ~ p, & ~ div, & ~ pre, & ~ code {
            //     margin-left: 100px; 
            // }
        }
    }

    footer {
        display: flex;
        align-items: flex-end;

        .dotty {
            position: fixed;
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%);

            .dot {
                position: absolute;
                border-radius: 50%;
                opacity: 0;
                background-color: rgba(255,255,255,0.1)
            }
        }
    }
}

$navwidth: 200px;

@media screen and (min-width: 900px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        flex-basis: 200px;
    }

    nav {
        flex-direction: column;
    }

    .content {
        width: 60%;
    }
}