---
---

$prim: #ADFF2F;
$primtrans: #e4ffba;
$seco: #556F44;
$blak: #001524;
$purp: #74526C;
$turq: #70C1B3;

html {
    width: 900px;
    margin-left: 20vw;
    color: $blak;

    nav {
        padding: 2em;
        display: flex;
        flex-flow: row wrap;

        a, a:visited {
            color: $blak;
        }

        li {
            list-style-type: none;
            padding: 1em;
            
            &.active {
                background: $prim;
            }

            &:not(.active) {

                &:hover{
                    background: $primtrans;
                }
            }
        }
    }

    a {
        color: $turq;
        text-decoration: none;

        &:visited {
            color: $turq;
        }
    }
    
    strong {
        color: $purp;
    }

    em {
        color: $seco;
    }

    img {   
        width: 75%;
        margin: auto;
    }

    table {
        margin: 1em;
        border-collapse: collapse;

        tr:nth-child(even) {
            background-color: $primtrans;
        } 
        
        th {
            background-color: $seco;
            color: white;
        } 

        td, th {
            padding: 8px;
        }
    }

    code {
        background: $primtrans;
        padding: 2px;
        border-radius: 5px;
        font-size: 1.1em;
    }
}