<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
    <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}" type="image/x-icon">
  </head>
  <body>
    <header>
      <nav>
        {% assign bages = site.pages | sort: 'order' %}
        {% for node in bages %}
          {% if node.hide != true and node.title != nil %}
              {% if page.url == node.url or page.title == 'Home' and node.title == 'Home' %}
                <a href="{{ node.url | relative_url }}" class="active">
                  <li class="active">{{node.title}}</li>
                </a>
              {% else %}
              <a href="{{ node.url | relative_url }}">
                <li>{{node.title}}</li>
              </a> 
              {% endif %}
            {% endif %}
        {% endfor %}
      </nav>
      <div class="notices">
        <h3>
          <span class="big red">WORKING DRAFT:</span> this conlang is <span class="red">UNRELEASED</span> and CONSTANTLY IMPROVING. Definitions, parts of speech, grammar rules, lesson content, and even phonetic inventory are subject to change IRREVOCABLY and <span class="red">WITHOUT NOTICE</span>. You have been warned.
        </h3>
      </div>
      <h1>{{ page.title }}</h1>
    </header>
    <section class="content">
      {{ content }}
    </section>
    <footer>
      <img src="{{ '/assets/lugso guSliibso sotso.png' | relative_url }}" />
    </footer>
  </body>
</html>