<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Almendra&family=IM+Fell+English&display=swap" rel="stylesheet">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
    <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="/assets/speak.js"></script>
  </head>
  <body>
    <header>
      <nav>
        {% assign bages = site.pages | sort: 'order' %}
        {% for node in bages %}
          {% if node.hide != true and node.title != nil %}
            {% if page.url == node.url or page.title == 'Home' and node.title == 'Home' %}
            <a href="{{ node.url | relative_url }}" class="active">{{node.title}}</a>
            {% else %}
            <a href="{{ node.url | relative_url }}">{{node.title}}</a> 
            {% endif %}
          {% endif %}
        {% endfor %}
      </nav>
      <!-- <div class="notices">
        <span class="red">WORKING DRAFT:</span> this conlang is <span class="red">UNRELEASED</span> and CONSTANTLY IMPROVING. 
        Definitions, parts of speech, grammar rules, lesson content, and even phonetic inventory are subject to change 
        IRREVOCABLY and <span class="red">WITHOUT NOTICE</span>. You have been warned.
      </div> -->
    </header>
    <section class="content">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </section>
    <footer>
      <!-- <img src="{{ '/assets/lugso guSliibso sotso.png' | relative_url }}" /> -->
      <div class="audio"></div>
      <div class="ipa-reader">IPA reader service provided by <a href="https://ipa-reader.xyz" rel="noopener noreferrer" referrerpolicy="no-referrer" target="_blank">ipa-reader.xyz</a></div>
      <div class="dotty"></div>
    </footer>
    <script>
      function createFloatingDots(numDots) {
        const container = document.getElementsByClassName('dotty')[0]
        for (let i = 0; i < numDots; i++) {
          const duration = Math.random() * 6000 + 6000;
    
          function dotFinished(dot) {
            dot.parentNode.removeChild(dot);
            createFloatingDot();
          }
    
          function createFloatingDot() {
            const dot = document.createElement("div");
            dot.className = "dot";
            dot.style.width = "0px";
            dot.style.height = "0px";
            dot.style.backgroundColor = `rgba(255,255,255, 0.1)`;
            container.appendChild(dot);
    
            const angle = Math.random() * Math.PI * 2;
            const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
            const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0);
            const maxDistance = Math.sqrt(vw * vw + vh * vh) / 2;
            const distance = Math.random() * maxDistance + maxDistance;
            const size = Math.random() * 20 + 5;
    
            setTimeout(() => {
              dot.style.transition = `all ${duration}ms linear`;
              dot.style.opacity = "1";
              dot.style.width = `${size}px`;
              dot.style.height = `${size}px`;
              dot.style.transform = `translate(${distance * Math.cos(angle)}px, ${distance * Math.sin(angle)}px)`;
              setTimeout(() => dotFinished(dot), duration);
            }, 100);
          }
    
          createFloatingDot();
        }
      }
    
      createFloatingDots(50);
    </script>
  </body>
</html>