<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  </head>
  <body>
    <nav>
      <a href="/lugso/README.html">Main</a>
      {% for node in site.pages %}
            {% if page.url == node.url and page.hide != true %}
              <li class="active"><a href="{{ node.url | relative_url }}" class="active">{{node.title}}</a></li>
            {% else %}
              <li><a href="{{ node.url | relative_url }}">{{node.title}}</a></li>
            {% endif %}
      {% endfor %}
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      <ol>{% for page in site.pages %}{% if page.title %}
      <li>
        <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
      </li>
      {% endif %}{% endfor %}</ol>
    </footer>
  </body>
</html>